<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Visitadores/Vendedores</h6>
            </div>
            <div class="card-body">
                <ul class="list-unstyled team-members">
                    <li>
                        <div class="row">
                            <div class="col-md-7 col-7">DJ Khaled<br/>
                                <span class="text-muted"><small>Offline</small></span>
                            </div>
                            <div class="col-md-3 col-3 text-right">
                                <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                                        class="fa fa-envelope"></i></btn>
                                <span class="form-check-sign"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="map" class="map"></div>
    </div>
</div>
<!--<form>-->
    <!--<div class="row">-->
        <!--<div class="col-md-6 pr-1">-->
            <!--<div class="form-group">-->
                <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Primer Nombre"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-model="vm.newUserModel.firstName">&ndash;&gt;-->
                <!--<div class="form-group">-->
                    <!--<label>Primer Nombre*</label>-->
                    <!--<input type="date" name="bday" min="1000-01-01"-->
                           <!--max="3000-12-31" class="form-control" ng-model="vm.newUserModel.firstName">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6 pl-1">-->
            <!--<div class="form-group">-->
                <!--<label>Segundo Nombre</label>-->
                <!--<input type="text" class="form-control" placeholder="Segundo Nombre"-->
                       <!--ng-model="vm.newUserModel.secondName">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="update ml-auto mr-auto">-->
            <!--<button type="submit" class="btn btn-primary btn-round"-->
                    <!--ng-disabled="!vm.newUserModel.firstName ||-->
                                         <!--!vm.newUserModel.firstSurname||-->
                                         <!--!vm.newUserModel.ciNumber||-->
                                         <!--!vm.newUserModel.ciExtended||-->
                                         <!--!vm.newUserModel.password||-->
                                         <!--!vm.newUserModel.passwordRepeat"-->
                    <!--ng-click="vm.createNewUser()">-->
                <!--Guardar-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->