<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                <div class="col-md-7 col-7">
                <h6 class="card-title">Visitadores</h6>
                </div>
                <div class="col-md-3 col-3 text-right" style="margin-top: 8px">
                    <input class="form-check-input position-static"
                           type="checkbox"
                           ng-model="vm.selectAllSellersCheckbox"
                           ng-change="vm.selectAllSellers()">
                </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled team-members">
                    <li ng-repeat="seller  in  vm.sellersList">
                        <div class="row">
                            <div class="col-md-7 col-7">
                                {{seller.firstName}}&nbsp;{{seller.firstSurname}}<br/>
                                <span class="text-muted"><small>Offline</small></span>
                            </div>
                            <div class="col-md-3 col-3 text-right">
                                <input class="form-check-input position-static"
                                       type="checkbox"
                                       ng-model="seller.active"
                                       ng-change="vm.selectSeller(seller)"
                                       ng-disabled="seller.isOffline">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="map" class="map"></div>
    </div>
</div>
