<div class="col-md-12">
    <h4>Lista de Usuarios</h4>
    <div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
            <th>#</th> <th>Nombre</th> <th>CI</th> <th>Nacido en</th><th>Tipo de Usuario</th><th>N de Celular</th>
            <th class="text-center">
                Acciones
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.useersList">
                <td>
                    {{$index}}
                </td>
                <td>
                    {{user.firstName}}&nbsp;{{user.secondName}}&nbsp;{{user.firstSurname}}&nbsp;{{user.secondSurname}}
                </td>
                <td>
                    {{user.ci}}
                </td>
                <td>
                    {{user.bornedIn}}
                </td>
                <td>
                    {{user.role}}
                </td>
                <td>
                    {{user.cellphone}}
                </td>
                <td class="text-center">
                    <button type="button" rel="tooltip"
                            class="btn btn-success btn-icon btn-sm "
                            data-original-title="" title=""
                            ui-sref="dashboard.editUser({userId: user.ci })">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip"
                            class="btn btn-danger btn-icon btn-sm "
                            data-original-title="" title=""
                            ng-click="vm.openRemoveUserModal(user)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>