<div>
    <h4>Lista de Proformas</h4>
    <div class="col-md-12">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                {{vm.filterSelected.label}}
            </button>
            <div class="dropdown-menu ">
                <a class="dropdown-item"
                   ng-repeat="filter in vm.filterItems"
                   ng-click="vm.selectAOption(filter)">{{filter.label}}</a>
            </div>
        </div>
        <div class="card card-timeline card-plain">
            <div class="card-body">
                <ul class="timeline timeline-simple">
                    <li class="timeline-inverted" ng-repeat="order in vm.orders | filter:{ registeredDate: vm.filterSelected.code } ">
                        <div class="timeline-badge"
                             ng-class="{'info':order.registeredDate , 'warning':!order.registeredDate}">
                            <i class="nc-icon"
                               ng-class="{'nc-alert-circle-i':!order.registeredDate, 'nc-bookmark-2':order.registeredDate}"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                    <span class="badge badge-pill"
                                          ng-class="{'badge-info':order.registeredDate, 'badge-warning':!order.registeredDate}">
                                        Estado: {{!order.registeredDate? 'Pendiente': 'Registrado'}}
                                    </span>
                            </div>
                            <h6>
                                <i class="ti-time"></i> <b>Fecha de Creacion: {{order.orderDate |date:'medium' }}</b>
                            </h6>

                            <div class="timeline-body">
                                <p><b>Cliente:</b> {{order.client.tipo}} &nbsp;{{order.client.razon_social}}</p>
                                <p><b>Visitador:</b>
                                    {{vm.users[order.userId].firstName}}&nbsp;
                                    {{vm.users[order.userId].secondName}}&nbsp;
                                    {{vm.users[order.userId].firstSurname}}&nbsp;
                                    {{vm.users[order.userId].secondSurname}}
                                </p>
                                <p><b> Tipo de Pago:</b> {{order.payType === 1? 'Contado':'Credito' }}</p>

                                <h6><b>Datos para la Factura</b></h6>
                                <div class="row">
                                    <div class="col-md-6 col-6">
                                        <b>Señor(es):</b> {{order.billName}}
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <b>NIT :</b> {{order.nit}}
                                    </div>
                                </div>

                                <table class="table">
                                    <thead>
                                    <th>Cantidad</th>
                                    <th>Detalle</th>
                                    <th>P. Unitario</th>
                                    <th>Sub Total</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="detail in order.items">
                                        <td>{{detail.quantity}}</td>
                                        <td>{{detail.product.producto}}&nbsp;{{detail.product.concentrado}}</td>
                                        <td>{{detail.price}}</td>
                                        <td>{{detail.subTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><h5><b>Total:</b></h5></td>
                                        <td><h5><b>{{order.total}}</b></h5></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <h6 ng-if="order.registeredDate">
                                    <i class="ti-time"></i> <b>Fecha de Registro: {{order.registeredDate |date:'medium'
                                    }}</b>
                                </h6>
                            </div>

                            <div class="timeline-footer" style="margin-top: 3px">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-round btn-info dropdown-toggle"
                                            data-toggle="dropdown" aria-expanded="false">
                                        Acciones <i class="nc-icon nc-settings-gear-65"></i>
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start"
                                         style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" ng-if="!order.registeredDate"
                                           ng-click="vm.reviewOrder(order, $index)">Cambiar estado a
                                            <b>Registrado</b></a>
                                        <a class="dropdown-item" ng-if="order.registeredDate"
                                           ng-click="vm.changeToPendingOrder(order, $index)">Cambiar estado a <b>Pendiente</b></a>
                                        <a class="dropdown-item" ng-click="vm.openRemoveOrderModal(order, $index)">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>