<!--<div class="row">-->
<div>
    <h4>Lista de Proformas</h4>
    <div class="col-md-12">
        <div class="card card-timeline card-plain">
            <div class="card-body">
                <ul class="timeline timeline-simple">
                    <!--<li class="timeline-inverted">-->
                    <!--<div class="timeline-badge danger">-->
                    <!--<i class="nc-icon nc-single-copy-04"></i>-->
                    <!--</div>-->
                    <!--<div class="timeline-panel">-->
                    <!--<div class="timeline-heading">-->
                    <!--<span class="badge badge-pill badge-danger">Some Title</span>-->
                    <!--</div>-->
                    <!--<div class="timeline-body">-->
                    <!--<p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>-->
                    <!--</div>-->
                    <!--<h6>-->
                    <!--<i class="ti-time"></i> 11 hours ago via Twitter-->
                    <!--</h6>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li class="timeline-inverted">-->
                    <!--<div class="timeline-badge success">-->
                    <!--<i class="nc-icon nc-sun-fog-29"></i>-->
                    <!--</div>-->
                    <!--<div class="timeline-panel">-->
                    <!--<div class="timeline-heading">-->
                    <!--<span class="badge badge-pill badge-success">Another One</span>-->
                    <!--</div>-->

                    <!--<div class="timeline-body">-->
                    <!--<p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <li class="timeline-inverted" ng-repeat="order in vm.orders">
                        <div class="timeline-badge"
                             ng-class="{'info':order.registeredDate , 'warning':!order.registeredDate}">
                            <i class="nc-icon"
                               ng-class="{'nc-alert-circle-i':!order.registeredDate, 'nc-world-2':order.registeredDate}"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                    <span class="badge badge-pill"
                                          ng-class="{'badge-info':order.registeredDate, 'badge-warning':!order.registeredDate}">
                                        Estado: {{!order.registeredDate? 'Pendiente': 'Registrado'}}
                                    </span>
                            </div>
                            <h6>
                                <i class="ti-time"></i> <b>Fecha de Creacion: {{order.orderDate |date:'medium' }}</b>
                            </h6>
                            <div class="timeline-body">
                                <p><b>Cliente:</b> {{order.client.tipo}} &nbsp;{{order.client.razon_social}}</p>
                                <p><b>Visitador:</b>
                                    {{vm.users[order.userId].firstName}}&nbsp;
                                    {{vm.users[order.userId].secondName}}&nbsp;
                                    {{vm.users[order.userId].firstSurname}}&nbsp;
                                    {{vm.users[order.userId].secondSurname}}
                                </p>
                                <p><b> Tipo de Pago:</b> {{order.payType === 1? 'Contado':'Credito' }}</p>

                                <h6><b>Datos para la Factura</b></h6>
                                <div class="row">
                                    <div class="col-md-6 col-6">
                                        <b>Señor(es):</b> {{order.billName}}
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <b>NIT :</b> {{order.nit}}
                                    </div>
                                </div>

                                <table class="table">
                                    <thead>
                                    <th>Cantidad</th>
                                    <th>Detalle</th>
                                    <th>P. Unitario</th>
                                    <th>Sub Total</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="detail in order.items">
                                        <td>{{detail.quantity}}</td>
                                        <td>{{detail.product.producto}}&nbsp;{{detail.product.concentrado}}</td>
                                        <td>{{detail.price}}</td>
                                        <td>{{detail.subTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><h5><b>Total:</b></h5></td>
                                        <td><h5><b>{{order.total}}</b></h5></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <h6 ng-if="order.registeredDate">
                                <i class="ti-time"></i> Fecha de Registro: {{order.registeredDate |date:'medium' }}
                            </h6>
                            <div class="timeline-footer" ng-if="!order.registeredDate">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-round btn-info dropdown-toggle"
                                            data-toggle="dropdown" aria-expanded="false">
                                        Acciones <i class="nc-icon nc-settings-gear-65"></i>
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start"
                                         style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" href="#">Cambiar a estado a <b>Revisado</b></a>
                                        <a class="dropdown-item" href="#">Eliminar</a>
                                        <!--<a class="dropdown-item" href="#">Something else here</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>