<div>
    <form class="form-signin">
        <img class="mb-4" src="../../assets/images/sm-logo.png" alt="" width="270" height="130">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label class="alert-warning" ng-show="vm.flagValidation">N° de Identidad o Contraseña Invalido</label>
        <label for="inputCi" class="sr-only">Nº de Cedula de Identidad:</label>
        <input ng-model="vm.ci"
               ng-change="vm.change()"
               type="number"
               id="inputCi"
               class="form-control"
               placeholder="Nº de Cedula de Identidad:"
               required autofocu>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input ng-model="vm.password"
               ng-change="vm.change()"
               type="{{vm.passwordTypeInput}}"
               id="inputPassword"
               class="form-control"
               placeholder="Contraseña"
               required>
        <span
              toggle="#password-field"
              class="fa fa-fw  field-icon toggle-password"
              ng-class="{'fa-eye': vm.showPassword, 'fa-eye-slash': !vm.showPassword} "
              ng-click="vm.showHidePassword()">
        </span>

        <button ng-click="vm.login()"
                ng-disabled="!vm.ci || !vm.password"
                class="btn btn-lg btn-primary btn-block"
                type="submit">
            Ingresar
        </button>
        <p class="mt-5 mb-3 text-muted">© Sana Medic</p>
    </form>
</div>