<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Visitadores</h6>
            </div>
            <div class="card-body">
                <ul class="list-unstyled team-members">
                    <li ng-repeat="seller  in  vm.sellersList">
                        <div class="row">
                            <div class="col-md-7 col-7">
                                {{seller.firstName}}&nbsp;{{seller.firstSurname}}
                            </div>
                            <div class="col-md-3 col-3 text-right">
                                <input class="form-check-input position-static"
                                       type="checkbox"
                                       ng-model="seller.active"
                                       ng-change="vm.selectSeller(seller)">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <form>
            <div class="row">
                <div class="col-md-11 pr-1">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Seleccione Dia*</label>
                            <input type="date"
                                   name="bday"
                                   min="1000-01-01"
                                   max="3000-12-31"
                                   class="form-control"
                                   ng-disabled="!vm.sellerSelected.active"
                                   ng-model="vm.daySelected">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round"
                            ng-click="vm.getRoutesBySeller()" ng-disabled="!vm.daySelected">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <div id="map" class="map"></div>
    </div>
</div>
