<div class="row">
    <div class="col-md-12">
        <h5>Nuevo Usuario</h5>
        <p class="text-danger">Todos los campos con el valor (*) son obligatorios</p>
        <form>
            <div class="row">
                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        <label>Primer Nombre*</label>
                        <input type="text" class="form-control" placeholder="Primer Nombre"
                               ng-model="vm.newUserModel.firstName">
                    </div>
                </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Segundo Nombre</label>
                        <input type="text" class="form-control" placeholder="Segundo Nombre"
                               ng-model="vm.newUserModel.secondName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        <label>Apellido Paterno*</label>
                        <input type="text" class="form-control" placeholder="Apellido Paterno"
                               ng-model="vm.newUserModel.firstSurname">
                    </div>
                </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Apellido Materno</label>
                        <input type="text" class="form-control" placeholder="Apellido Materno"
                               ng-model="vm.newUserModel.secondSurname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        <label>Nº de Cedula de Identidad*</label>
                        <input type="text" class="form-control" placeholder="Nº de Cedula de Identidad"
                               ng-model="vm.newUserModel.ciNumber">
                    </div>
                </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Ciudad De Nacimiento*</label>
                        <select  class="form-control"
                                 ng-model="vm.newUserModel.bornedIn"
                                 ng-options="city for city in vm.citiesOption">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        <label>Contraseña*</label>
                        <input type="password" class="form-control" placeholder="Contraseña"
                               ng-model="vm.newUserModel.password">
                    </div>
                </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Repita Contraseña*</label>
                        <input type="password" class="form-control" placeholder="Repita Contraseña"
                               ng-model="vm.newUserModel.passwordRepeat">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Número de teléfono Celular</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Número de teléfono Celular"
                                   ng-model="vm.newUserModel.cellphone">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Ciudad De Nacimiento*</label>
                        <select  class="form-control"
                                 ng-model="vm.newUserModel.role"
                                 ng-options="role.name for  role in vm.roles">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round"
                            ng-disabled="!vm.newUserModel.firstName ||
                                         !vm.newUserModel.firstSurname||
                                         !vm.newUserModel.ciNumber||
                                         !vm.newUserModel.bornedIn||
                                         !vm.newUserModel.password||
                                         !vm.newUserModel.passwordRepeat ||
                                         !vm.newUserModel.role.roleId"
                            ng-click="vm.createNewUser()">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>